*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* common rules */
body{
    font-family: 'Montserrat', sans-serif;
}

section{
    margin-top: 4rem;
}

img{
    width: 100%;
}

.f{
    display: flex;
}

.f-wr{
    flex-wrap: wrap;
}

.f-r-sb{
    justify-content: space-between;
}

.f-jc{
    justify-content: center;
}

.f-c{
    flex-direction: column;
}

.f-c-asb{
    align-content: space-between;
}

a{
    text-decoration: none;
    color: var(--scnd-txt-col);
}

ul{
    list-style: none;
}

/* custom prop */
:root{
    /* backgorunds */
    --prime-main-bg-col: #141922;
    --prime-side-bg-col: #06070A;
    --prime-playerbar-bg-col: #282828;
    /* text */
    --prime-txt-col: white;
    --scnd-txt-col: gray;
    --fweight-fix: bold;
    --fsize-sectiontitle-fix: 2rem;
}

/******************************************
main 
******************************************/
/* upgrade top bar */
.upgrade-bar{
    width: calc(100% - 3rem);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    justify-content: end;
}

.upgrade-btn{
    color: var(--prime-txt-col);
    font-size: 0.8rem;
    padding: .5rem 2rem;
    border: 2px solid white;
    border-radius: 1rem;
    display: inline-block;
    margin: 1.5rem;
}

 .wrapper{
    overflow: hidden;
    height: calc(100vh - 5rem);
}
/* overflow: hidden 
impedisce che gli elementi vadano 
sopra la barra del player  */

/* main content */
/* content sorter */
.up-content-sorter{
    margin: 7rem 0 3rem 0;
}

.up-content-sorter ul{
    text-align: center;
}

.up-content-sorter ul li{
    display: inline-block;
    padding: .3rem .5rem;
}

/* common main-content containers & rules*/
.section-info{
    margin: 2rem 0;
}

.section-name{
    color: var(--prime-txt-col);
    font-weight: var(--fweight-fix);
    font-size: var(--fsize-sectiontitle-fix);
    margin-bottom: 0.5rem;
}

.section-suggestion{
    color: var(--scnd-txt-col);
}

.main-content{
    padding: 1.25rem;
    width: calc(100% - 3rem);
    overflow: auto;
    background-color: var(--prime-main-bg-col);
    color: var(--prime-txt-col);
}

.main-content::-webkit-scrollbar {
    width: 5px;
}

.main-content::-webkit-scrollbar-thumb {
    background: green; 
    border-radius: 1rem;
}

/* signle songs box */
.song-box{
    width: 50%;
    font-size: 1rem;
    padding: 0 .5rem;
    margin: .3rem 0;
    text-align: center;
}
    /* usando: 
    width: calc(100% / 6);
    e min-width: 10rem sin dal desktop
    si ottiene già responsive
    inolte, usando min-width e basta 
    i box saranno sempre anche se solo per un pò,
    responsive*/

.song-name{
    margin-top: .65rem;
    font-size: .9rem;
    color: var(--prime-txt-col);
    font-weight: var(--fweight-fix);
}

.author-name{
    margin-top: .3125rem;
    font-size: .7rem;
    color: var(--scnd-txt-col);
}

/* section 3 popular artists */
.popular-artists img{
    border-radius: 50%;
}

/* sidebar */
/* utilizzare un'altezza in px fissa,
non gli permette di andare sotto il player in basso
bisogna impostare una max width ed una min width
in alternativa al vh per ottenere lo stesso risultato di vh
ma al raggiungimento della min width, sposta giù il player
si risolve però con overflow:hidden */
.side-navbar{
    width: 3rem;
    padding: 0.2rem;
    align-items: center;
    background-color: var(--prime-side-bg-col);
}

.side-navbar .up-content a,
.side-navbar nav a,
.side-navbar .down-content a{
    display: inline-block;
    padding: .3125rem;
    margin-top: .2rem;
    width: fit-content;
}

.side-navbar span{
    vertical-align: top;
    padding: 0.125rem;
    margin-left: 0.3rem;
}

.side-navbar .up-content a img:not([src*="logo.svg"]),
.side-navbar .down-content a img{
    width: 1.3rem;
}

.side-navbar .download img,
.side-navbar nav img{
    filter: contrast(0);
}

.playlist-container{
    margin-top: 1.2rem;
    min-height: 10rem;
    width: 100%;
    color: white;
    flex-grow: 1;
    overflow: hidden;
}

.playlist-container div:first-child{
    font-weight: 800;
}

.add-playlist{
    margin: 0.3rem 0;
    line-height: 200%;
}

.playlist-container .add-playlist a{
    padding-left: 0;
}

.add-playlist i{
    font-weight: 900;
    font-size: 1.5rem;
    background-color: gray;
    color: black;
    padding: .4rem;
}

.playlist ul{
    height: calc(100vh / 3 - 5rem);
    overflow: auto;
}

.playlist ul::-webkit-scrollbar {
    width: 5px;
  }
  
.playlist ul::-webkit-scrollbar-thumb {
    background: green; 
    border-radius: 1rem;
  }

.playlist ul li{
    margin: 1rem 0;
}

.down-content .user img{
    background-color: gray;
    height: 1.3rem;
    border-radius: 50%;
}

.down-content .download{
    font-size: .7rem;
}

.down-content hr{
    border: none;
    width: 10rem;
    margin-bottom: .3125rem;
    height: 1px;
    background-color: gray;
}

.down-content .user span{
    color: white;
    font-weight: 700;
}
/* sidebar display none */
.side-navbar .up-content .logo a:nth-child(2),
.side-navbar span,
.side-navbar .playlist-container,
.side-navbar hr,
.down-content span{
    display: none;
}

/* downbar */
.player-bar{
    height: 5rem;
    padding: .625rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--prime-playerbar-bg-col);
}

.player-album, .player-control, .sound-manage{
    height: 100%;
}

.player-control{
    width: 45%;
}

.player-album, .sound-manage{
    width: 25%;
}

.player-album{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.player-bar .album img{
    height: 2.5rem;
    width: 2.5rem;
}

.title{
    margin-left: .3125rem;
}

.title a:first-child{
    font-size: 1rem;
    font-weight: 700;
    color: var(--prime-txt-col);
    display: block;
}

.title a:nth-child(2){
    font-size: .8rem;
}

.interaction i{
    cursor: pointer;
    color: var(--scnd-txt-col);
    margin: 0 .3rem;
}

.song-settings{
    text-align: center;
    color: var(--prime-txt-col);
}

.song-settings i{
    cursor: pointer;
    margin: 0 0.8rem;
}

#progbar{
    position: relative;
    margin: .5rem 1rem;
    flex-grow: 1;
    width: 80%;
}

#base-prog-bar, #progress{
    display: inline-block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#base-prog-bar{
    height: 3px;
    display: inline-block;
    width: 100%;
    background-color: gray;
}

#progress{
    display: inline-block;
    background-color: lightgray;
    height: 3px;
    width: 20%;
    position: absolute;
    top: 12.2px;
    left: 0;
}

.time-set{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-set .t-left, .time-set .t-right{
    color: white;
    font-size: .625rem;
}

#volbar{
    width: 50%;
    position: relative;
    margin: .5rem 1rem;
}

#base-vol-bar, #vol-reg{
    display: inline-block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#base-vol-bar{
    height: 3px;
    display: inline-block;
    width: 100%;
    background-color: gray;
}

#vol-reg{
    display: inline-block;
    background-color: lightgray;
    height: 3px;
    width: 20%;
    position: absolute;
    top: 12.2px;
    left: 0;
}

.sound-manage{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sound-manage .icon-settings{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.sound-manage i{
    color: var(--prime-txt-col);
    cursor: pointer;
    padding: .1rem;
    font-size: .625rem;
}

/********************************  
    hover and effects
**********************************/
/* main content */
.upgrade-btn:hover{
    transform: scale(120%);
}

/* content sorter */
.effect1::after{
    content: '\0020';
    position: absolute;
    width: 30%;
    bottom: 0;
    left: 50%;
    transform: translate(-50% , +50%);
    border-bottom: 5px solid greenyellow;
}
.up-content-sorter li:hover a{
    color: white;
}

.up-content-sorter li:hover a::after{
    content: '\0020';
    position: absolute;
    width: 30%;
    bottom: 0;
    left: 50%;
    transform: translate(-50% , +50%);
    border-bottom: 5px solid greenyellow;
}

.up-content-sorter ul li{
    position: relative;
}

/* song-box */
.song-box:hover .album-img::after{
    content: '\f04b';
    font-family: 'FontAwesome';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%);
    color: white;
    font-size: 3rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* line-height: 12rem; */
    background-color: rgba(0, 0, 0, 0.5);
    /* line height lo sposta al centro, o anche flex
    -51% perchè pare non si centri per bene, non dipende 
    da line height o da flex, sono 4px in più
    appartenenti al box*/
}

.popular-artists .song-box:hover .album-img::after{
    border-radius: 50%;
}

.album-img{
    position: relative;
}

/* downbar */
/* player-album */
.player-album .title a:nth-child(2):hover{
    text-decoration: underline;
    color: white;
}

.player-album .interaction i[class*="fa-heart"]:hover{
    color: red;
}

.player-album .interaction i[class*="fa-folder"]:hover{
    color: yellow;
}

/* player-control */
#progbar:hover:after{
    content: '\f111';
    color:chartreuse;
    position: absolute;
    z-index: 1;
    font-size: 10px;
    top: 46%;
    left: 20%;
    font-family: 'FontAwesome';
    cursor: pointer;
}

#progbar:hover #progress{
    background-color: chartreuse;
}

#volbar:hover:after{
    content: '\f111';
    color: blue;
    position: absolute;
    z-index: 1;
    font-size: 10px;
    top: 46%;
    left: 15%;
    font-family: 'FontAwesome';
    cursor: pointer;
}

#volbar:hover #vol-reg{
    background-color: blue;
}

.player-control i:hover{
    transform: scale(120%);
}

.player-control i[class*="fa-circle-play"]:hover{
    transform: scale(150%);
    color: chartreuse;
}
/* sound manage */
.sound-manage i[class*="fa-list"]:hover{
    color: goldenrod;
}

.sound-manage i[class*="fa-tv"]:hover{
    color:aqua;
}

.sound-manage i[class*="fa-volume-high"]:hover{
    color:blue;
}

/*************************************
    mediaquery
**************************************/
@media all and (min-width: 601px){
    /* size adj */
    .side-navbar{
        width: 12rem;
        align-items: flex-start;
        padding: 1rem 1rem 0;
    }

    .side-navbar .logo a:first-child{
        display: none;
    }

    
    .upgrade-bar{
        width: calc(100% - 12rem);
    }
    
    .main-content{
        width: calc(100% - 12rem);
    }

    /* display inline-block sidebar*/
    .side-navbar .up-content .logo a:nth-child(2),
    .side-navbar span,
    .side-navbar .playlist-container,
    .side-navbar hr,
    .down-content span{
        display: inline-block;
    }

    /* playerbar */
    .side-navbar .up-content .logo a:nth-child(2){
        display: inline-block;
        margin-bottom: .8rem;
        width: 8rem;
    }
    
    .player-album, .sound-manage{
        width: 20%;
    }

    .player-bar .album img{
        height: 3.5rem;
        width: 3.5rem;
    }

    .sound-manage i{
        font-size: .8rem;
    }

}

@media all and (min-width: 701px){
    /* size adj */
    .song-box{
        width: calc(100% / 4);
    }
}

@media all and (min-width: 1100px){
    /* size adj */
    .song-box{
        width: calc(100% / 6); 
    }
}