*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* common rules */
img{
    width: 100%;
}

.f{
    display: flex;
}

.f-wr{
    flex-wrap: wrap;
}

.f-r-sb{
    justify-content: space-between;
}

.f-c{
    flex-direction: column;
}

a{
    text-decoration: none;
    color: var(--scnd-txt-col);
}

/* custom prop */
:root{
    /* backgorunds */
    --prime-main-bg-col: #141922;
    --prime-side-bg-col: #000000;
    --prime-playerbar-bg-col: #282828;
    /* text */
    --prime-txt-col: white;
    --scnd-txt-col: gray;
    --fweight-fix: bold;
    --fsize-sectiontitle-fix: 2rem;
}

/* upgrade top bar */
.upgrade-bar{
    width: calc(100% - 4rem);
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 0;
}

/* sidebar */
/* utilizzare un'altezza in px fissa,
non gli permette di andare sotto il player in basso
bisogna impostare una max width ed una min width
in alternativa al vh per ottenere lo stesso risultato di vh
ma al raggiungimento della min width, sposta giuù il player */
.side-navbar{
    width: 4rem;
    height: calc(100vh - 5rem);
    background-color: var(--prime-side-bg-col);
}

/* player bar */
.player-bar{
    height: 5rem;
    width: 100%;
    background-color: var(--prime-playerbar-bg-col);
}

/* main-content */
/* content sorter */
.up-content-sorter{
    margin: 8rem 0 6rem 0 ;
}

.up-content-sorter ul{
    list-style: none;
    text-align: center;
}

.up-content-sorter ul li{
    display: inline-block;
    padding: .3rem .5rem;
}

/* common main-content containers & rules*/
.section-info{
    margin: 2rem 0;
}

.section-name{
    color: var(--prime-txt-col);
    font-weight: var(--fweight-fix);
    font-size: var(--fsize-sectiontitle-fix);
    margin-bottom: 0.5rem;
}

.section-suggestion{
    color: var(--scnd-txt-col);
}

.main-content{
    padding: 1.25rem;
    width: calc(100% - 4rem);
    height: calc(100vh - 5rem);
    overflow: auto;
    background-color: var(--prime-main-bg-col);
    color: var(--prime-txt-col);
}

.song-box{
    width: 50%;
    font-size: 1rem;
    padding: 0 .5rem;
    margin: .3rem 0;
    text-align: center;
}
    /* usando: 
    width: calc(100% / 6);
    e min-width: 10rem sin dal desktop
    si ottiene già responsive
    inolte, usando min-width e basta 
    i box saranno sempre anche se solo per un pò,
    responsive*/

.song-name{
    margin-top: .3125rem;
    font-size: .9rem;
    color: var(--prime-txt-col);
    font-weight: var(--fweight-fix);
}

.author-name{
    margin-top: .3125rem;
    font-size: .7rem;
}



/* recently-played */


/*************************************
    mediaquery
**************************************/
@media all and (min-width: 601px){
    /* size adj */
    .side-navbar{
        width: 12rem;
    }

    .upgrade-bar{
        width: calc(100% - 12rem);
    }
    
    .main-content{
        width: calc(100% - 12rem);
    }
}

@media all and (min-width: 701px){
    /* size adj */
    .song-box{
        width: calc(100% / 4);
    }
}

@media all and (min-width: 1100px){
    /* size adj */
    .song-box{
        width: calc(100% / 6); 
    }
}



