*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* common rules */
section{
    margin-top: 4rem;
}

img{
    width: 100%;
}

.f{
    display: flex;
}

.f-wr{
    flex-wrap: wrap;
}

.f-r-sb{
    justify-content: space-between;
}

.f-jc{
    justify-content: center;
}

.f-c{
    flex-direction: column;
}

.f-c-asb{
    align-content: space-between;
}

a{
    text-decoration: none;
    color: var(--scnd-txt-col);
}

ul{
    list-style: none;
}

/* custom prop */
:root{
    /* backgorunds */
    --prime-main-bg-col: #141922;
    --prime-side-bg-col: #06070A;
    --prime-playerbar-bg-col: #282828;
    /* text */
    --prime-txt-col: white;
    --scnd-txt-col: gray;
    --fweight-fix: bold;
    --fsize-sectiontitle-fix: 2rem;
}

/* upgrade top bar */
.upgrade-bar{
    width: calc(100% - 3rem);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    justify-content: end;
}

/******************************************
    main 
 ******************************************/
 .wrapper{
    overflow: hidden;
    height: calc(100vh - 5rem);
}
/* overflow: hidden 
impedisce che gli elementi vadano 
sopra la barra del player  */

.upgrade-btn{
    color: var(--prime-txt-col);
    font-size: 0.8rem;
    padding: .5rem 2rem;
    border: 2px solid white;
    border-radius: 1rem;
    display: inline-block;
    margin: 1.5rem;
}

/* sidebar */
/* utilizzare un'altezza in px fissa,
non gli permette di andare sotto il player in basso
bisogna impostare una max width ed una min width
in alternativa al vh per ottenere lo stesso risultato di vh
ma al raggiungimento della min width, sposta giù il player
si risolve però con overflow:hidden */
.side-navbar{
    width: 3rem;
    padding: 0.2rem;
    align-items: center;
    background-color: var(--prime-side-bg-col);
}

.side-navbar .up-content a,
.side-navbar nav a,
.side-navbar .down-content a{
    display: inline-block;
    padding: .3125rem;
    margin-top: .2rem;
    width: fit-content;
}

.side-navbar span{
    vertical-align: top;
    padding: 0.125rem;
    margin-left: 0.3rem;
}

.side-navbar .up-content a img:not([src*="logo.svg"]),
.side-navbar .down-content a img{
    width: 1.3rem;
}

.side-navbar .download img,
.side-navbar nav img{
    filter: contrast(0);
}

.playlist-container{
    margin-top: 1.2rem;
    min-height: 35%;
    width: 100%;
    color: white;
    flex-grow: 1;
    overflow: hidden;
}

.playlist-container div:first-child{
    font-weight: 800;
}

.add-playlist{
    margin: 0.3rem 0;
    line-height: 200%;
}

.playlist-container .add-playlist a{
    padding-left: 0;
}

.add-playlist i{
    font-weight: 900;
    font-size: 1.5rem;
    background-color: gray;
    color: black;
    padding: .4rem;
}

.playlist ul li{
    margin: 1rem 0;
}

.down-content .user img{
    background-color: gray;
    height: 1.3rem;
    border-radius: 50%;
}

.down-content .download{
    font-size: .7rem;
}

.down-content hr{
    border: none;
    width: 10rem;
    margin-bottom: .3125rem;
    height: 1px;
    background-color: gray;
}

.down-content .user span{
    color: white;
    font-weight: 700;
}
/* sidebar display none */
.side-navbar .up-content .logo a:nth-child(2),
.side-navbar span,
.side-navbar .playlist-container,
.side-navbar hr,
.down-content span{
    display: none;
}

/* content sorter */
.up-content-sorter{
    margin: 7rem 0 3rem 0;
}

.up-content-sorter ul{
    text-align: center;
}

.up-content-sorter ul li{
    display: inline-block;
    padding: .3rem .5rem;
}

/* common main-content containers & rules*/
.section-info{
    margin: 2rem 0;
}

.section-name{
    color: var(--prime-txt-col);
    font-weight: var(--fweight-fix);
    font-size: var(--fsize-sectiontitle-fix);
    margin-bottom: 0.5rem;
}

.section-suggestion{
    color: var(--scnd-txt-col);
}

.main-content{
    padding: 1.25rem;
    width: calc(100% - 3rem);
    overflow: auto;
    background-color: var(--prime-main-bg-col);
    color: var(--prime-txt-col);
}

/* signle songs box */
.song-box{
    width: 50%;
    font-size: 1rem;
    padding: 0 .5rem;
    margin: .3rem 0;
    text-align: center;
}
    /* usando: 
    width: calc(100% / 6);
    e min-width: 10rem sin dal desktop
    si ottiene già responsive
    inolte, usando min-width e basta 
    i box saranno sempre anche se solo per un pò,
    responsive*/

.song-name{
    margin-top: .65rem;
    font-size: .9rem;
    color: var(--prime-txt-col);
    font-weight: var(--fweight-fix);
}

.author-name{
    margin-top: .3125rem;
    font-size: .7rem;
    color: var(--scnd-txt-col);
}

/* section 3 popular artists */
.popular-artists img{
    border-radius: 50%;
}

/* player bar */
.player-bar{
    height: 5rem;
    padding: .625rem;
    width: 100%;
    overflow: hidden;
    background-color: var(--prime-playerbar-bg-col);
}

.song-info img{
    height: 4rem;
    width: 4rem;
    padding: .5rem;
}

.song-interactions{
    margin: 0 1rem;
    color: var(--scnd-txt-col);
    align-items: center;
}

.song-interactions i{
    padding: 0.5rem;
}


.player-control{
    color: white;
}

.song-settings{
    gap: 1rem;
    justify-content: center;
}

.song-settings i{
    cursor: pointer;
}

.player-control{
    flex-grow: 1;
}

.progression-control{
    width: 50%;
    margin: 0 auto;
}

.player-control span{
    font-size: .625rem;
}

#progbar{
    position: relative;
    margin: .5rem 1rem;
}

#base-prog-bar, #progress{
    display: inline-block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#base-prog-bar{
    height: 3px;
    display: inline-block;
    width: 100%;
    background-color: gray;
}

#progress{
    display: inline-block;
    background-color: lightgray;
    height: 3px;
    width: 20%;
    position: absolute;
    top: 12.2px;
    left: 0;
}

.display-settings{
    color: var(--scnd-txt-col);
    align-items: center;
    max-width: 18.75rem;
    min-width: 9.375rem;
    justify-content: center;
}

.display-settings .icon-settings{
    cursor: pointer;
    justify-content: space-between;
    flex-grow: 1;
}

#volbar{
    display: inline-block;
    position: relative;
    margin: 0 1rem;
}

#base-vol-bar, #vol-lvl{
    display: inline-block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#base-vol-bar{
    height: 3px;
    display: inline-block;
    width: 3rem;
    background-color: gray;
    
}

#vol-lvl{
    display: inline-block;
    background-color: lightgray;
    height: 3px;
    width: 20%;
    position: absolute;
    top: 12.2px;
    left: 0;
}


/********************************  
    hover effects
**********************************/

#progbar:hover:after{
    content: '\f111';
    color:chartreuse;
    position: absolute;
    z-index: 1;
    font-size: 10px;
    top: 46%;
    left: 20%;
    font-family: 'FontAwesome';
    cursor: pointer;
}

#progbar:hover #progress{
    background-color: chartreuse;
}

#volbar:hover:after{
    content: '\f111';
    color: blue;
    position: absolute;
    z-index: 1;
    font-size: 10px;
    top: 46%;
    left: 15%;
    font-family: 'FontAwesome';
    cursor: pointer;
}

#volbar:hover #vol-lvl{
    background-color: blue;
}


/*************************************
    mediaquery
**************************************/
@media all and (min-width: 601px){
    /* size adj */
    .side-navbar{
        width: 12rem;
        align-items: flex-start;
        padding: 1rem 1rem 0;
    }

    .side-navbar .logo a:first-child{
        display: none;
    }

    /* display inline-block */
    .side-navbar .up-content .logo a:nth-child(2),
    .side-navbar span,
    .side-navbar .playlist-container,
    .side-navbar hr,
    .down-content span{
        display: inline-block;
    }

    .side-navbar .up-content .logo a:nth-child(2){
        display: inline-block;
        margin-bottom: .8rem;
        width: 8rem;
    }

    .upgrade-bar{
        width: calc(100% - 12rem);
    }
    
    .main-content{
        width: calc(100% - 12rem);
    }
}

@media all and (min-width: 701px){
    /* size adj */
    .song-box{
        width: calc(100% / 4);
    }
}

@media all and (min-width: 1100px){
    /* size adj */
    .song-box{
        width: calc(100% / 6); 
    }
}



